.bred {
  border: 2px solid red;
}

.bblue {
  border: 2px solid blue;
}

.bgreen {
  border: 2px solid green;
}

.byellow {
  border: 2px solid yellow;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(./assets/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: local('Poppins-Medium'), url(./assets/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: local('Poppins-SemiBold'), url(./assets/Poppins/Poppins-SemiBold.ttf) format('truetype');
}

* {
  font-size: 14px;
  font-family: Poppins;
}

.title {
  color: #54bab9;
  font-size: 18px;
  font-weight: 600;
}

.textSec {
  color: #4c4c4c;
}

.outlineBtn,
.blueBtn {
  border-radius: 11px;
  height: 30px;
  cursor: pointer;
}

.outlineBtn {
  border: 2px solid #4c4c4c;
}

.blueBtn {
  background-color: #54bab9;
  color: white;
  width: 180px;
}

.saveBtn {
  color: white;
  background-color: #54bab9 !important;
  width: 120px;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
}

.updateBtn {
  /* color: black; */
  background-color: #edc339 !important;
  width: 120px;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
}

.cancelBtn {
  background-color: #fff;
  color: black;
  width: 120px;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
  padding-top: 3px;
}

.deleteBtn {
  background-color: #cd211d;
  color: white;
  width: 120px;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
  padding-top: 3px;
}

/* row per page */
.rppBtn {
  padding: 3px;
  border: 2px solid rgba(76, 76, 76, 0.7);
  height: 28px;
  width: 50px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  color: #54bab9;
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: start;
}

.rppList {
  text-align: center;
  display: none;
  padding: 2px;
}

.rppList>p {
  line-height: 20px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 14px;
}

.rppList.active {
  height: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 22px;
  width: 50px;
  top: 30px;
  left: 0;
  border: 2px solid #bfbfbf;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.rppItems:hover {
  background-color: skyblue;
  color: #4c4c4c;
  border-radius: 8px;
}
/* row per page end */

label {
  color: #4c4c4c;
  font-size: 12px;
}

.labelTitle {
  font-size: 14px;
}

/* form */
textarea {
  width: 100%;
  height: 66px;
  border: 2px solid #54bab9;
  padding: 5px 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.formInput {
  color: #4c4c4c;
  border: 2px solid #54bab9;
  height: 30px;
  padding: 5px 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* patient list */
/* options */


/* filter btns */
.filterBtn {
  display: none;
  padding: 3px;
}

.filterBtn>p {
  padding: 0 10px;
  cursor: pointer;
  font-size: 13px;
}

.filterBtn.active {
  position: absolute;
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 22px;
  top: 33px;
  left: 0;
  width: 100%;
  z-index: 10;
  gap: 5px;
  border: 2px solid #bfbfbf;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.filterItems:hover {
  background-color: skyblue;
  border-radius: 10px;
}

/* filter btns end */


/* option btn */
* {
  --tw-ring-color: rgb(0 0 0 / 0.5) !important;
}

.dropdownOption {
  outline: none;
  background-color: #f8f8ff;
}

.dropdownItems {
  display: flex;
  gap: 10px;
  height: 35px;

}

.dropdownItems>span {
  flex-basis: 70%;
  text-align: left;
}

.dropdownItems:hover {
  background-color: rgb(176, 233, 255);
  border-radius: 2px;
}

/* option btn end */
/* patient list end */

/* Modal */

/* Modal end */